@charset "UTF-8";

.info_sub{
	margin-bottom : 20px;
	
}
.info_sub b{
	font-size: 20px;
}

.info_input{
	margin-bottom : 20px;
	font-size : 20px;
}


.info_half{
	border-bottom : 2px solid #BEBEBE;
	margin-bottom : 30px;
}

.memberImg{
	width: 250px;
    height: 250px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}

.memberImg img{
	width : 100%;
	height: 100%;
	 border-radius: 50%;
}
.cameraIcon{
	width: 37px;
    position: absolute;
    left: 300px;
    bottom: 190px;
}
.info_num{
	border: none;
	width: 100%;
}
#pwd_box{
	margin-top:65px;
	font-size: 28px;
}

.cm_file{
	display: none;
}

.pwdBtn{
	text-align: right;
}
