<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attachmentMapper">

	<!-- 첨부파일 insert -->
	<insert id="insertAttachment" parameterType="com.kh.walkwork.common.model.vo.Attachment">
		INSERT INTO
			ATTACHMENT
				(
				FILE_NAME,
				BOARD_NO,
				MEMBER_NO,
				DOCU_NO,
				FILE_ORIGIN_NAME,
				FILE_PATH,
				FILE_SIZE,
				FILE_UPLOAD_DATE
				)
			VALUES
				(
				#{fileName},
				#{boardNo},
				#{memberNo},
				#{docuNo},
				#{fileOriginName},
				#{filePath},
				#{fileSize},
				#{fileUploadDate}
				)	
	</insert>
	
	<select id="selectAttachmentList" parameterType="com.kh.walkwork.common.model.vo.Attachment"
		resultType="com.kh.walkwork.common.model.vo.Attachment">
		SELECT FILE_NAME,
				BOARD_NO,
				MEMBER_NO,
				DOCU_NO,
				FILE_ORIGIN_NAME,
				FILE_PATH,
				FILE_SIZE,
				FILE_UPLOAD_DATE
		FROM ATTACHMENT
		WHERE 1=1
		<if test="boardNo != null">
			AND BOARD_NO = #{boardNo}
		</if>
		<if test="memberNo != null">
			AND MEMBER_NO = #{memberNo}
		</if>
		<if test="docuNo != null">
			AND DOCU_NO = #{docuNo}
		</if>
	</select>
</mapper>
