<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	
	<!-- 1:1 채팅 추가 -->
	<insert id="insertChat" parameterType="String">
		insert into chat (chat_no, chat_name) values(seq_cno.nextval, #{chatName})
	</insert>
	
	<!-- 채팅방 번호 조회 -->
	<select id="selectChatNo" resultType="_int">
		SELECT 
		        LAST_NUMBER 
		FROM 
		        USER_SEQUENCES 
		WHERE 
		        SEQUENCE_NAME = 'SEQ_CNO'
	</select>
</mapper>
