<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="communityMapper">

	<resultMap id="CommunityResultSet" type="community">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_WRITER" property="boardWriter" />
		<result column="PROJECT_NO" property="projectNo" />
		<result column="PROJECT_NO" property="boardType" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="COUNT" property="count" />
		<result column="STATUS" property="status" />
		<result column="TOP_FIX" property="topFix" />
		<result column="NOTICE_RANGE" property="noticeRange" />
		<result column="NOTICE_CATEGOTY" property="noticeCategory" />
		<result column="NOTICE_PERIOD" property="noticePeriod" />
		<result column="COMMUNITY_GOOD" property="communityGood" />
		<result column="TASK_MODIFY_DATE" property="taskModifyDate" />
		<result column="TASK_STATUS" property="taskStatus" />
		<result column="TASK_HANDLER" property="taskHandler" />
	</resultMap>
	
	<resultMap id="AttachmentResultSet" type="attachment">
		<result column="File_Name" property="fileName" />
		<result column="Board_No" property="boardNo" />
		<result column="Member_No" property="memberNo" />
		<result column="File_Origin_Name" property="fileOriginName" />
		<result column="File_Path" property="filePath" />
		<result column="File_Size" property="fileSize" />
		<result column="File_Upload_Date" property="fileUploadDate" />
	</resultMap>
	
	<resultMap id="ReplyResultSet" type="reply">
		<result column="Reply_no" property="replyNo" />
		<result column="Board_No" property="boardNo" />
		<result column="Member_No" property="memberNo" />
		<result column="Reply_Content" property="replyContent" />
		<result column="enroll_Date" property="enrollDate" />
	</resultMap>

	<insert id="insertCommunity" parameterType="community">
		insert into board_all(
							board_no
							,board_writer
							,board_type
							,board_title
							,board_content
							,enroll_date
							,count
							,status
							,community_good
							)
							values
							(
							seq_bno.nextval
							,#{boardWriter}
							,4
							,#{boardTitle}
							,#{boardContent}
							,default
							,default
							,default
							,default
							)
	</insert>
	
	<!-- 현재 총 게시글 수  -->
	<select id="selectListCount" resultType="_int" parameterType="string">
		select count(*)
		  from board_all
		 where status = 'Y'
		 		and board_title like '%'||#{search}||'%'
	</select>
	<!-- 내 게시글 총 게시판 수 -->
	<select id="selectMyListCount" resultType="_int" parameterType="community">
		select count(*)
		  from board_all
		 where status = 'Y'
		 		and board_title like '%'||#{search}||'%' and board_writer = #{boardWriter}
	</select>
	
	<!-- 게시글 목록 조회 -->
	<select id="selectCommunity" resultMap="CommunityResultSet" parameterType="string">
		select 
			   board_no
			  ,board_writer
			  ,board_type
			  ,board_title
			  ,board_content
			  ,enroll_date
			  ,count
			  ,status
			  ,community_good
			  ,(select count(*) from reply where reply.board_no = board_all.board_no) replyCnt
			  ,(select attachment.FILE_NAME from attachment 
			  <![CDATA[
				where attachment.board_no = board_all.board_no and ROWNUM <= 1
			   ]]>
			  ) fileName
		from
			board_all
		where
			board_type = '4' and status = 'Y' and board_title like '%'||#{search}||'%'
		order by
		 board_no desc	
		
	</select>
	
	<!-- 내 게시글 -->
	<select id="selectMyCommunity" resultMap="CommunityResultSet" parameterType="community">
		select 
			   board_no
			  ,board_writer
			  ,board_type
			  ,board_title
			  ,board_content
			  ,enroll_date
			  ,count
			  ,status
			  ,community_good
			  ,(select count(*) from reply where reply.board_no = board_all.board_no) replyCnt
			  ,(select attachment.FILE_NAME from attachment 
			  <![CDATA[
				where attachment.board_no = board_all.board_no and ROWNUM <= 1
			   ]]>
			  ) fileName
		from
			board_all
		where
			board_type = '4' and status = 'Y' and board_title like '%'||#{boardTitle}||'%' and BOARD_WRITER = #{boardWriter}
		order by
		 board_no desc	
		
	</select>
	
	<select id="selectTopCm" resultMap="CommunityResultSet">
		select 
			   board_no
			  ,board_writer
			  ,board_type
			  ,board_title
			  ,board_content
			  ,enroll_date
			  ,count
			  ,status
			  ,community_good
			  ,(select attachment.FILE_NAME from attachment 
			  <![CDATA[
				where attachment.board_no = B.board_no and ROWNUM <= 1
			   ]]>
			  ) fileName
		from(
            select 
                board_no
			  ,board_writer
			  ,board_type
			  ,board_title
			  ,board_content
			  ,enroll_date
			  ,count
			  ,status
			  ,community_good
            from
			board_all
			where
			board_type = '4' and status = 'Y'
			order by community_good desc) B
		<![CDATA[
			where rownum <= 5
		]]>
        
		
	</select>
	
	<select id="selectDetail" resultMap="CommunityResultSet">
		select 
			   board_no
			  ,board_writer
			  ,board_type
			  ,board_title
			  ,board_content
			  ,enroll_date
			  ,count
			  ,status
			  ,community_good
			  ,(select count(*) from reply where reply.board_no = board_all.board_no) replyCnt
		from
			board_all
		where
			board_type = '4'
			and 
			board_no = #{pageNo}
	</select>
	
	<!-- 글 수정 -->
	<update id="updateCommunity" parameterType="community">
		update board_all set 
			board_title = #{boardTitle},
			board_content = #{boardContent}
		where board_no = #{boardNo}
	</update>
	<!-- 글 삭제 -->
	<update id="deleteCommunity" parameterType="_int">
		update board_all set status='N' where board_no = #{pageNo}
	</update>

	<insert id="insertAttachment" parameterType="attachment">
		insert into attachment (
					    file_name
					   ,board_no
					   ,member_no
					   ,file_origin_name
					   ,file_path
					   ,file_size
					   ,file_upload_date
					   )
					   values
					   (
						#{fileName}
						,#{boardNo}
						,#{memberNo}
						,#{fileOriginName}
						,#{filePath}
						,#{fileSize}
						,default
						)
	</insert>
	
	<delete id="deleteAttachment">
		delete from attachment where file_name in
		<foreach collection="array" item="no" separator="," open="(" close=")">
			#{no}
		</foreach>
	</delete>
	
	<select id="lastBno" resultType="_int">
		select board_no from board_all 
		<![CDATA[
			where rownum <= 1 order by board_no desc 
		]]>
		
	</select>
	
	<select id="selectAttachmentDetail" resultMap="AttachmentResultSet">
		select file_name, board_no, member_no, file_origin_name, 
			file_path, file_size, file_upload_date
			
			from attachment
			
			where board_no = #{pageNo}
	</select>
	
	<select id="selectAttachmentTop" resultMap="AttachmentResultSet">
		select file_name, board_no, member_no, file_origin_name, 
			file_path, file_size, file_upload_date
			
			from attachment
			
			where board_no = #{boardNo}
	</select>
	
	<!-- 상단 top5 첨부파일 조회 -->	
	<select id="selectViewAtt" resultMap="AttachmentResultSet">
	  select file_name, board_no, member_no, file_origin_name, 
		file_path, file_size, file_upload_date
		
		from (
               select file_name, board_no, member_no, file_origin_name, 
                   file_path, file_size, file_upload_date, ROW_NUMBER() OVER(PARTITION BY board_no order by file_name) rn
               from attachment
           )
           where board_no in (
        select 
         board_no
		from(
            select 
                board_no
            from
			board_all
			where
			board_type = '4'
			order by community_good desc)
			<![CDATA[
			 where rownum <= 5
		]]>
        
        ) and rn = 1
	</select>
	
	<!-- 게시물 첨부파일 -->
	<select id="selectboardAtt" resultMap="AttachmentResultSet">
		select file_name, board_no, member_no, file_origin_name, 
			file_path, file_size, file_upload_date
					from (
						 select file_name, board_no, member_no, file_origin_name, 
                   file_path, file_size, file_upload_date, ROW_NUMBER() OVER(PARTITION BY board_no order by file_name) rn
               from attachment
			)where board_no in 
       		<foreach collection="listNo" item="no" separator="," open="(" close=")">
       			#{no}
       		</foreach>	
      
       and rn = 1 order by board_no desc
	</select>
	
	
	<!-- 댓글 -->
	<insert id="insertReply" parameterType="reply">
		insert into reply (
			reply_no,
			board_no,
			member_no,
			reply_content,
			enroll_date
		) values (
			seq_rno.nextval,
			#{boardNo},
			#{memberNo},
			#{replyContent},
			default
		)
	</insert>
	
	
	<select id="selectReply" parameterType="_int" resultMap="ReplyResultSet">
		select * from Reply where board_no = #{pageNo}
		order by enroll_date
	</select>
	
	<delete id="deleteReply" parameterType="reply">
		delete from reply where reply_no = #{replyNo}
	</delete>
		
	<!-- 추천 -->
	<update id="thumbsPlus" parameterType="community">
		update board_all set community_good = #{communityGood} where  board_no = #{boardNo}
	</update>
	<update id="thumbsMinus" parameterType="community">
		update board_all set community_good = #{communityGood} where  board_no = #{boardNo}
	</update>
	
	<!-- 추천 중복 방지 -->
	
	<insert id="insertThumbsGood" parameterType="boardgood">
		insert into board_good (
			board_no, 
			member_no
		) values(
			#{boardNo},
			#{memberNo}
		)
	
	</insert>
	
	<delete id="deleteThumbsGood" parameterType="boardgood">
		delete from board_good
		where board_no = #{boardNo} and member_no = #{memberNo} 	
	</delete> 
	
	<select id="selectThumbsGood" parameterType="boardgood" resultType="_int">
	  select count(*) from board_good where board_no = #{boardNo} and member_no = #{memberNo}
	</select>
	
</mapper>