<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">



	<resultMap id="noticeResultSet" type="notice">
		<result column="BOARD_NO" property="boardNo" />
		<result column="BOARD_WRITER" property="boardWriter" />
		<result column="BOARD_TYPE" property="boardType" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="BOARD_CONTENT" property="boardContent" />
		<result column="ENROLL_DATE" property="EnrollDate" />
		<result column="COUNT" property="count" />
		<result column="STATUS" property="status" />
		<result column="TOP_FIX" property="topFix" />
		<result column="NOTICE_RANGE" property="noticeRange" />
		<result column="NOTICE_CATEGOTY" property="noticeCategory" />
		<result column="NOTICE_PERIOD" property="noticePeriod" />
		<result column="MEMBER_NAME" property="memberName" />
		<result column="FILE_NAME" property="fileName" />
		<result column="FILE_ORIGIN_NAME" property="fileOriginName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="FILE_SIZE" property="fileSize" />
		<result column="FILE_UPLOAD_DATE" property="fileUploadDate" />
	</resultMap>

	<select id="selectNoticeListCount" resultType="_int">
		select count(*)
			from board_all
		  where status = 'Y'
	</select>

	<select id="selectNoticeList" resultMap="noticeResultSet">
		select 
			BOARD_NO,
			b.BOARD_WRITER,
			BOARD_TYPE,
			BOARD_TITLE,
			BOARD_CONTENT,
			b.ENROLL_DATE,
			COUNT,
			b.STATUS,
			TOP_FIX,
			NOTICE_RANGE,
			NOTICE_CATEGOTY,
			NOTICE_PERIOD,
            m.member_name
		from board_all b
        join member m on(b.board_Writer = m.member_no)
		where b.status = 'Y'
		order by board_no desc
	</select>
	
	<update id="increaseCount" >
	
			update board_all
			set count = count + 1
			where board_no = #{bno}
			and status = 'Y'
	</update>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="notice">
		select 
			b.BOARD_NO,
			b.BOARD_WRITER,
			BOARD_TYPE,
			BOARD_TITLE,
			BOARD_CONTENT,
			b.ENROLL_DATE,
			COUNT,
			b.STATUS,
			TOP_FIX,
			NOTICE_RANGE,
			NOTICE_CATEGOTY,
			NOTICE_PERIOD,
            m.member_name,
            file_name,
            FILE_ORIGIN_NAME,
            file_path,
            file_size,
            a.file_upload_date
		from board_all b
        join member m on(b.board_Writer = m.member_no)
        join attachment a on(b.board_Writer = a.member_no)
		where b.status = 'Y'
        and b.board_no = #{boardNo}
        and a.board_no = #{boardNo}
        and b.board_Writer = #{boardWriter}
	
	</select>
	
	<insert id="insertNotice" parameterType="notice">
	
		insert into 
		board_all(
			board_no,
			board_writer,
			board_type,
			board_title,
			board_content,
			enroll_date, 
			count,
			status,
			top_fix,
			notice_range,
			NOTICE_CATEGOTY,
			notice_period
		) 
		values(
			seq_bno.nextval,
			#{boardWriter},
			1,
			#{boardTitle},
			#{boardContent},
			sysdate, 
			default, 
			default,
			default,
			#{noticeRange},
			#{noticeCategory},
			#{noticePeriod}
		)
	
	</insert>
	<select id="selectBoardNo" parameterType="notice" resultMap="noticeResultSet">
		select board_no, board_writer
			from board_all
		  where 
			board_writer = 	#{boardWriter}
			and board_type = 1
			and board_title = #{boardTitle}
			and board_content = #{boardContent}
			and notice_range = #{noticeRange}
			and NOTICE_CATEGOTY = #{noticeCategory}
			and notice_period = #{noticePeriod}
			and enroll_date = sysdate
			<!-- 이게 왜 되지...? sysdate 구체적으로 시간 지정해야 할 것 같으ㅡㄴ뎅.. -->
	</select>
	

</mapper>
