<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">
	<resultMap id="scheduleResultSet" type="schedule">
		<result column="SCHEDULE_NO" property="scheduleNo" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
	</resultMap>
	<select id="mainScheduleList" parameterType="string" resultMap="scheduleResultSet">
	
	<![CDATA[
        select a.*
          from(
        select * from schedule
        where start_date > to_char(sysdate, 'YYYY-MM-DD')
        AND MEMBER_NO = #{memberNo}
        ORDER BY START_DATE ASC
                ) a
        where rownum <= 7
	]]>
	</select>
	
	<select id="selectScheduleList" resultMap="scheduleResultSet">
		select schedule_no, start_date, end_date, title, content
		  from schedule
		 where member_no = #{memberNo}
	</select>

	<insert id="insertSchedule" parameterType="schedule">
		insert into schedule (schedule_no, member_no, start_date, end_date, title, content)
		values (seq_scno.nextval, #{memberNo}, #{startDate}, #{endDate}, #{title}, #{content})
	</insert>	
	
	<delete id="deleteSchedule">
		delete from schedule where schedule_no = #{no}
	</delete>
	
	<update id="updateSchedule">
		update schedule
		set title = #{title},
			content = #{content},
			start_date = #{startDate},
		 	end_date = #{endDate}
	 	where schedule_no = #{scheduleNo}
	</update>
</mapper>






